@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,600;1,100;1,400;1,500;1,700&display=swap');

.body {
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 15px;
    line-height: 2em;
    color: rgb(249, 3, 3);
    font-weight: 400;
    background: white;
}

h3, h4 {
    color: rgb(5, 67, 182) !important 
}

h5 {
    color: rgb(5, 77, 159);
}

.columns-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-col-block {
    width: 48%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
}

.right-col-block {
    width: 52%;
    position: absolute;
    right: 0%;
}

.header {
    padding: 0;
    margin: 0;
    height: 100vh;
    vertical-align: middle;
    position: relative;
}

.header .profile-image {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
    background: url("https://ik.imagekit.io/ybxp6hmaz/IMG_9892_3.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1674395614193");
    background-size: cover;
    background-position: center;
}

.header .profile-image:before {
    content: "";
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(to top, rgba(13, 17, 15, 0.895) 15%, rgba(12, 10, 11, 0.877) 25%, transparent 40%, transparent 70%);
}

.header .content {
    position: absolute;
    left: 0%;
    bottom: -7%;
    right: 0%;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
}

.header .content h1 {
    font-size: 36px;
    color: rgb(238, 239, 243); 
    line-height: 1;
    margin: 0;
}

.header .content p {
    font-size: 20px;
    color: rgb(1, 187, 255); 
}

.header .content .social-icon {
    margin: 0%;
    padding: 0%;
    display: block;
}

.header .content .social-icon li {
    display: inline-block;
    margin: 0 5px;
}

.header .content .social-icon li a {
    display: block;
    font-size: 25px;
    height: 45px;
    width: 45px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #fff;
}

.header .content .social-icon li a:hover {
    border-color: black;
}

.section-wrapper {
    padding: 50px;
}

.section-title {
    margin-bottom: 25px;
}

.section-title h2 {
    font-style: italic;
    color: rgba(12, 4, 247, 0.78);
    font-weight: 900;
}

.year {
    padding-left: 20px;
}

.branch {
    padding-left: 20px;
}

.lang {
    font-size: xx-large;
}

.map {
    padding-left: 20px;
}

.card-body {
    background: rgb(0, 0, 0) !important
}

.card-body .box {
    color: rgb(255, 255, 255);
}

.first {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.second {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.third {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.fourth {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.fifth {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.sixth {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.seventh {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.eight {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 70, 235, 0.812) 100%, transparent 40%, transparent 70%);
}

.collapsed {
    background: linear-gradient(30deg, rgba(107, 214, 241, 0.895) 55%, rgba(5, 101, 235, 0.877) 100%, transparent 40%, transparent 70%);
}

.collapse {
    background: linear-gradient(0deg, rgb(5, 197, 235) 55%, rgba(107, 214, 241, 0.895) 100%, transparent 40%, transparent 70%);
}

.info {
    text-align: justify;
    color:black !important
}

