.container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(210, 25, 25);
  }
body{
    background-color: #323330;
}
h1{
    color: white;
    text-align: center;
}
  
  #display{
    background-color: white;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
  }
  
  .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: wheat;
  }
  
  .button {
    border: 0.5px solid rgb(56, 17, 229);
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
  }
  
  #equal {
    background-color: rgb(85,85,255);
    color: white;
  }
  
  .button:hover{
    background-color: #ff000097;
    color: white;
    transition: 0.5s ease-in-out;
  }